@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body{
  font-family: 'Lato', sans-serif;
  top: 0;
}

a{
  color: #ffffff;
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.wrapper_menu{
  background-color: rgba(0, 151, 179, 0.52);
  display: grid;
  grid-template-columns: 30% 70%;
  flex-flow: row;
  height: 4em;
}

.links_to_sections{
  display: flex;
  flex-flow: nowrap;
  justify-content: flex-end;
}

.medservice_menu{
  font-size: 20px;
  font-weight: 600;
  justify-content: flex-start;
  margin-left: 1em;
  width: 30vw;
}

.contacts_link, .services_link, .about_us_link, .medservice_menu{
  height: 100%;
  display: flex;
}

.contacts_link, .services_link, .about_us_link{
  font-size: 20px;
  width: 17vw;
  justify-content: center;
  text-align: center;
}

.about_us_link, .contacts_link{
  background-color: rgba(0, 151, 179, 0.72);
}

.burger_bar{
  display: none;
}

@media (max-width: 767px) {

}
