@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

img{
  border-radius: 30px;
}

.content_part p{
  color: #0D6070;
  font-weight: 300;
  font-size: 17px;
  text-align: justify;
  margin: 2em;
  margin-top: 0;
  margin-bottom: 0.5em;
}

.content_first_p p{
  margin-top: 0;
}

.content_sec_p p{
  margin-bottom: 0.3em;
}

hr{
  background-color: #0D6070;
  display: block;
  height: 0.05em;
  width: 93%;
}

.slide_text{
  font-weight: 700;
  color: #0D6070;
  grid-area: p_text;
  text-align: center;
  margin-top: 0.5em;
}

.slider{
  margin: 1em;
  margin-top: 0;
  margin-bottom: 0;
  width: auto;
  display: grid;
  justify-content: center;
  grid-template-areas: "prev slide next"
                       "p_text p_text p_text";
}

.slide{
  grid-area: slide;
}

.slide_img{
  border-radius: 4px;
}

.prev, .next {
  cursor: pointer;
  width: auto;
  padding: 10px;
  color: rgba(26, 26, 26, 0.79);
  font-weight: bold;
  font-size: 25px;
  transition: 0.6s ease;
  border-radius: 3px 3px 3px 3px;
  height: 10%;
  user-select: none;
  margin-top: 6em;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.prev{
  left: 0;
  grid-area: prev;
}

.next{
  right: 0;
  grid-area: next;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.content_complex_and_safety, .content_exp_and_prof, .content_aspiration_and_availability{
  color: #0D6070;
}

.content_complex_and_safety{
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  display: grid;
  grid-template-areas: "complex_img complex_h4"
                       "complex_img complex_p"
                       "safety_h4 safety_img"
                       "safety_p safety_img";
  justify-content: center;
}

.content_exp_and_prof{
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  display: grid;
  grid-template-areas: "experience_img experience_h4"
                       "experience_img experience_p"
                       "prof_h4 prof_img"
                       "prof_p prof_img";
  justify-content: center;
}

.content_aspiration_and_availability{
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  display: grid;
  grid-template-areas: "aspiration_img aspiration_h4"
                       "aspiration_img aspiration_p"
                       "availability_h4 availability_img"
                       "availability_p availability_img";
  justify-content: center;
}

h4{
  margin: 2em;
  margin-bottom: 0;
  margin-top: 0.5em;
  text-align: center;
}

.complex_img{
  margin: auto;
  grid-area: complex_img;
}

.safety_img{
  margin: auto;
  grid-area: safety_img;
}

.experience_img{
  grid-area: experience_img;
  margin: auto;
}

.prof_img{
  grid-area: prof_img;
  margin: auto;
}

.availability_img{
  grid-area: availability_img;
  margin: auto;
}

.aspiration_img{
  grid-area: aspiration_img;
  margin: auto;
}

.button_contacts{
  padding: 20px;
  display: inline-block;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  background-color: rgba(39, 180, 207, 1);
  color: #0D6070;
}

.button_contacts a{
  color: #ffffff;
}

@media (max-width: 1240px) {
  .content_h3, .complex_h4, .content_h2{
    font-size: 98%;
  }

  h4{
    font-size: 96%;
  }

  .slider img{
    height: 350px;
    width: 570px;
  }

  .content_main_info img{
    height: 220px;
    width: 320px;
  }

  .content_part p{
    font-size: 14px;
  }

}

@media (max-width: 1000px) {
  .content_part p{
    font-size: 13px;
  }
  .slider img{
    height: 320px;
    width: 450px;
  }

  .prev, .next {
    font-size: 22px;
  }

  .content_main_info img{
    height: 160px;
    width: 230px;
  }

  .content_main_info p{
    line-height: 1.2em;
    font-size: 12px;
  }

}

@media (max-width: 768px) {
  .slider img{
    height: 260px;
    width: 380px;
  }

  .prev, .next {
    font-size: 19px;
  }

  .content_main_info img{
    height: 130px;
    width: 200px;
  }

  .content_part p{
    font-size: 11px;
  }

  .slide_text{
    margin-top: 0;
  }

  .button_contacts{
    padding: 15px;
    font-size: 12px;
  }
}

@media (max-width: 660px) {

  .slider img{
    height: 170px;
    width: 220px;
  }

  .prev, .next {
    font-size: 12px;
  }

  .content_complex_and_safety{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    display: grid;
    grid-template-areas: "complex_h4"
                         "complex_img"
                         "complex_p"
                         "safety_h4"
                         "safety_img"
                         "safety_p";
    justify-content: center;
    grid-gap: 1.5vh;
  }

  .content_exp_and_prof{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    display: grid;
    grid-template-areas: "experience_h4"
                         "experience_img"
                         "experience_p"
                         "prof_h4"
                         "prof_img"
                         "prof_p";
    justify-content: center;
    grid-gap: 1.5vh;
  }

  .content_aspiration_and_availability{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    display: grid;
    grid-template-areas: "aspiration_h4"
                         "aspiration_img"
                         "aspiration_p"
                         "availability_h4"
                         "availability_img"
                         "availability_p";
    justify-content: center;
    grid-gap: 1.5vh;
  }


  .content_main_info img{
    height: 120px;
    width: 230px;
  }

  .content_part p{
    font-size: 11px;
  }

}

@media (max-width: 376px) {

  .button_contacts{
    padding: 10px;
    font-size: 8px;
  }

  .prev, .next {
    font-size: 10px;
  }

  .slider img{
    height: 150px;
    width: 200px;
  }

  .content_main_info img{
    border-radius: 10px;
    height: 100px;
    width: 190px;
  }

  .slide_text{
    font-size: 60%;
  }

}

@media (max-width: 330px) {

  .prev, .next {
    font-size: 8px;
  }

  .slider img{
    height: 120px;
    width: 180px;
  }
}
