.mail{
  grid-area: mail;
  text-align: right;
  margin-right: 2em;
}

iframe{
  margin: 0;
}

.tel_mail{
  display: grid;
  grid-template-areas: "tel mail";
  font-size: 20px;
  font-weight: 700;
}
.tel{
  grid-area: tel;
  text-align: left;
  margin-left: 2em;
}

.tel p{
  margin-block-start: 0em;
}

.mail p{
  margin-block-start: 0em;
}

.first_h4, .second_h4, .third_h4{
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

.first, .second, .third{
  display: block;
  margin: 1em;
}

.first_hours_and_details{
  display: grid;
  grid-template-areas: "first_hours first_details";
}

.second_hours_and_details{
  display: grid;
  grid-template-areas: "second_hours second_details";
}

.third_hours_and_details{
  display: grid;
  grid-template-areas: "third_hours third_details";
}

.second_hours, .first_hours, .third_hours{
  text-align: left;
}

.second_details, .first_details, .third_details{
  text-align: right;
}

.second_frame, .first_frame, .third_frame{
  display: flex;
  justify-content: center;
}

@media (max-width: 1024px) {

  .first_h4, .second_h4, .third_h4{
    font-size: 20px;
  }

  h2{
    font-size: 20px;
  }

  .tel_mail{
    font-size: 15px;
  }
}

@media (max-width: 800px) {

  iframe{
    width: 600px;
    height: 400px;
  }

  .first_h4, .second_h4, .third_h4{
    font-size: 18px;
  }

  h2{
    font-size: 18px;
  }

  .tel_mail{
    font-size: 13px;
  }
}

@media (max-width: 640px) {
  .first, .second, .third{
    margin: 0;
  }

  .first_hours_and_details, .second_hours_and_details, .third_hours_and_details{
    font-size: 12px;
  }

  iframe{
    width: 400px;
    height: 300px;
  }

  .first_h4, .second_h4, .third_h4{
    font-size: 16px;
  }

  h2{
    font-size: 18px;
  }

  .tel_mail{
    font-size: 12px;
  }
}

@media (max-width: 426px) {

  .content_part{
    padding: 0;
  }

  .first_hours_and_details, .second_hours_and_details, .third_hours_and_details{
    font-size: 10px;
  }

  .tel{
    margin-left: 0;
  }
  .mail{
    margin-right: 0;
  }

  iframe{
    width: 250px;
    height: 200px;
  }

  .first_h4, .second_h4, .third_h4{
    font-size: 13px;
  }

  h2{
    font-size: 15px;
  }

  .tel_mail{
    font-size: 10px;
  }
}

@media (max-width: 374px) {

  iframe{
    width: 220px;
    height: 200px;
  }

}
