@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
  font-family: 'Poppins', sans-serif;
  top: 0;
  margin: 0;
  color: #ffffff;
  margin-bottom: 0;
}

.content_part{
  padding: 1em;
  color: #0D6070;
  display: flex;
  flex-direction: column;
}

h2, h3{
  color: #0D6070;
  text-align: center;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

a{
  color: #ffffff;
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.wrapper_menu{
  background-color: rgba(0, 151, 179, 0.52);
  display: grid;
  grid-template-columns: 30% 70%;
  flex-flow: row;
  grid-template-rows: 1fr;
  height: 4em;
}

.links_to_sections{
  display: flex;
  flex-flow: nowrap;
  justify-content: flex-end;
}

.medservice_menu{
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 600;
  justify-content: flex-start;
  margin-left: 1em;
}

.contacts_link, .services_link, .about_us_link, .medservice_menu{
  height: 100%;
  display: flex;
}

.contacts_link, .services_link, .about_us_link{
  font-weight: 400;
  font-size: 20px;
  width: 17vw;
  text-align: center;
}

p{
  display: inline-block;
  vertical-align: middle;
  margin-block-end: 0;
}

.about_us_link, .contacts_link{
  background-color: rgba(0, 151, 179, 0.72);
}

.burger_bar{
  display: none;
}

.wrapper_content{
  display: flex;
  justify-content: center;
}

.content_part{
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  display: flex;
  height: 100%;
  width: calc(100% / 1.522);
}

.wrapper_footer{
  background-color: rgba(0, 151, 179, 0.52);
  display: grid;
  grid-template-rows: 1fr;
  height: 6.5em;
  margin-bottom: 0;
}

.copyright_div{
  text-align: center;
  height: 1.5em;
  font-size: 15px;
  background-color: rgba(0, 151, 179, 0.4);
}

.footer_info{
  font-size: 16px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr;
  padding: auto;
}

.footer_company{
  margin-left: 1em;
}

.footer_contacts{
  display: grid;
  grid-template-rows: 1fr 1fr;
  margin-right: 1em;
}

.footer_tel{
  display: flex;
  justify-content: flex-end;
}

.footer_email{
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 768px) {

  .wrapper_menu{
  z-index: 3;
  top: 0;
  position: sticky;
  display: grid;
  grid-template-areas: "menu burger";
  grid-template-columns: 80% 20%;
  grid-template-rows: 100%;
  width: 100%;
}

.medservice_menu{
  grid-area: menu;
}

.links_to_sections{
  justify-content: center;
  background-color: #0097B3;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  top: -100%;
  transition-duration: 0.5s;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.links_to_sections div:first-child{
  margin-top: 10vw;
}

.links_to_sections a:hover{
  color: #ffffff;
}

.burger_wrapper{
  display: grid;
  grid-area: burger;
  height: 100%;
  justify-content: center;
  position: absolute;
  right: 5%;
  width: 3em;
}

.burger_wrapper:hover{
  cursor: pointer;
}

.burger_wrapper p{
  margin-block-start: 0;
}

.burger_bar{
  background-color: #ffffff;
  display: block;
  height: 3px;
  position: relative;
  top: 1.4em;
  transition-duration: 0.5s;
  width: 20px;
}

.burger_bar::before{
  background-color: #ffffff;
  content: '';
  height: 3px;
  position: absolute;
  right: 0;
  top: 0.5em;
  transition-duration: 0.5s;
  width: 20px;
}

.burger_bar::after{
  background-color: #ffffff;
  content: '';
  height: 3px;
  position: absolute;
  right: 0;
  top: 1em;
  transition-duration: 0.5s;
  width: 20px;
}

.burger_bar.open {
background-color: transparent;
transition-duration: 0.5s;
}

.burger_bar.open::before{
  content: '';
  transform: rotate(45deg);
  transition-duration: 0.5s;
  top: 0.6em;
}

.burger_bar.open::after{
  content: '';
  top: 0.6em;
  transform: rotate(-45deg);
  transition-duration: 0.5s;
}

.links_to_sections.open{
  top: 0;
  transition-duration: 0.5s;
}

p{
  display: inline-block;
  vertical-align: baseline;
  margin-block-end: 0;
}



}

@media (min-width: 2560px) {
  .content_part{
    width: calc(100% / 2);
  }
}

@media (max-width: 869px) {

  .footer_contacts{
    display: none;
  }


  .footer_info{
    grid-template-columns: 1fr;
  }
  .footer_company{
    margin: auto;
  }

  .footer_company p{
    font-size: 12px;
    text-align: center;
    margin-block-start: 0;
  }

  .copyright_div{
    font-size: 10px;
  }
}
