body{
  color: #1b97af;
}

.pics_service{
  width: 100%;
  display: grid;
  grid-template-areas: "survey ward"
  "procedure cosmetology"
  "diagnostics diagnostics"
  "ophthalmology surgery"
  "phisiotherapy chem"
  "otolaryngology otolaryngology";
  justify-content: center;
  grid-gap: 1em;
}

.survey{
  grid-area: survey;
  border-radius: 30px;
  display: flex;
  background-image: url(pics/sp/survey.jpg);
  height: 220px;
  width: 330px;
  font-size: 30px;
  font-weight: 500;
  margin: auto;
}

.pics_service p{
  margin: auto;
  text-align: center;
}

.ward{
  margin: auto;
  grid-area: ward;
  border-radius: 30px;
  display: flex;
  background-image: url(pics/sp/ward.jpg);
  height: 220px;
  width: 330px;
  font-size: 30px;
  font-weight: 500;
}

.procedure{
  grid-area: procedure;
  margin: auto;
  border-radius: 30px;
  display: flex;
  background-image: url(pics/sp/procedure.jpg);
  height: 220px;
  width: 330px;
  font-size: 30px;
  font-weight: 500;
}

.cosmetology{
  grid-area: cosmetology;
  margin: auto;
  border-radius: 30px;
  display: flex;
  background-image: url(pics/sp/сosmetology.jpg);
  height: 220px;
  width: 330px;
  font-size: 30px;
  font-weight: 500;
}

.diagnostics{
  grid-area: diagnostics;
  margin: auto;
  border-radius: 30px;
  display: flex;
  background-image: url(pics/sp/diagnostics.jpg);
  height: 400px;
  width: 720px;
  font-size: 30px;
  font-weight: 500;
}

.ophthalmology{
  margin: auto;
  grid-area: ophthalmology;
  border-radius: 30px;
  display: flex;
  background-image: url(pics/sp/ophthalmology.jpg);
  height: 220px;
  width: 330px;
  font-size: 30px;
  font-weight: 500;
}

.surgery{
  margin: auto;
  grid-area: surgery;
  border-radius: 30px;
  display: flex;
  background-image: url(pics/sp/surgery.jpg);
  height: 220px;
  width: 330px;
  font-size: 30px;
  font-weight: 500;
}

.phisiotherapy{
  margin: auto;
  grid-area: phisiotherapy;
  border-radius: 30px;
  display: flex;
  background-image: url(pics/sp/phisiotherapy.jpg);
  height: 220px;
  width: 330px;
  font-size: 30px;
  font-weight: 500;
}

.chem{
  margin: auto;
  grid-area: chem;
  border-radius: 30px;
  display: flex;
  background-image: url(pics/sp/chem.jpg);
  height: 220px;
  width: 330px;
  font-size: 30px;
  font-weight: 500;
}

.otolaryngology{
  margin: auto;
  grid-area: otolaryngology;
  border-radius: 30px;
  display: flex;
  background-image: url(pics/sp/otolaryngology.jpg);
  height: 400px;
  width: 720px;
  font-size: 30px;
  font-weight: 500;
}

.img_price{
  display: flex;
  align-self: center;
  background-image: url(pics/sp/price.jpg);
  font-size: 30px;
  height: 300px;
  width: 400px;
  margin-bottom: 1em;
  border: 2px solid rgba(0, 0, 0, 0.47);
}

.img_price p{
  font-weight: 500;
  margin: auto;
  text-align: center;
}

@media (max-width: 1150px) {

  .survey{
    grid-area: survey;
    height: 180px;
    width: 280px;
    font-size: 25px;
  }

  .ward{
    grid-area: ward;
    height: 180px;
    width: 280px;
    font-size: 25px;
    font-weight: 500;
  }

  .procedure{
    grid-area: procedure;
    height: 180px;
    width: 280px;
    font-size: 25px;
    font-weight: 500;
  }
  .cosmetology{
    grid-area: cosmetology;
    height: 180px;
    width: 280px;
    font-size: 25px;
    font-weight: 500;
  }
  .diagnostics{
    grid-area: diagnostics;
    height: 360px;
    width: 575px;
    font-size: 25px;
    font-weight: 500;
  }
  .ophthalmology{
    grid-area: ophthalmology;
    height: 180px;
    width: 280px;
    font-size: 25px;
    font-weight: 500;
  }
  .surgery{
    grid-area: surgery;
    height: 180px;
    width: 280px;
    font-size: 25px;
    font-weight: 500;
  }

  .phisiotherapy{
    grid-area: phisiotherapy;
    height: 180px;
    width: 280px;
    font-size: 25px;
    font-weight: 500;
  }

  .chem{
    grid-area: chem;
    height: 180px;
    width: 280px;
    font-size: 25px;
    font-weight: 500;
  }

  .otolaryngology{
    grid-area: otolaryngology;
    height: 360px;
    width: 575px;
    font-size: 25px;
    font-weight: 500;
  }

}

@media (max-width: 960px) {

  .survey{
    grid-area: survey;
    height: 150px;
    width: 250px;
    font-size: 25px;
  }

  .ward{
    grid-area: ward;
    height: 150px;
    width: 250px;
    font-size: 25px;
    font-weight: 500;
  }

  .procedure{
    grid-area: procedure;
    height: 150px;
    width: 250px;
    font-size: 25px;
    font-weight: 500;
  }
  .cosmetology{
    grid-area: cosmetology;
    height: 150px;
    width: 250px;
    font-size: 25px;
    font-weight: 500;
  }
  .diagnostics{
    grid-area: diagnostics;
    height: 320px;
    width: 520px;
    font-size: 25px;
    font-weight: 500;
  }
  .ophthalmology{
    grid-area: ophthalmology;
    height: 150px;
    width: 250px;
    font-size: 25px;
    font-weight: 500;
  }
  .surgery{
    grid-area: surgery;
    height: 150px;
    width: 250px;
    font-size: 25px;
    font-weight: 500;
  }

  .phisiotherapy{
    grid-area: phisiotherapy;
    height: 150px;
    width: 250px;
    font-size: 25px;
    font-weight: 500;
  }

  .chem{
    grid-area: chem;
    height: 150px;
    width: 250px;
    font-size: 25px;
    font-weight: 500;
  }

  .otolaryngology{
    grid-area: otolaryngology;
    height: 320px;
    width: 520px;
    font-size: 25px;
    font-weight: 500;
  }

}

@media (max-width: 769px) {

  .survey{
    grid-area: survey;
    height: 220px;
    width: 330px;
    font-size: 25px;
  }

  .ward{
    grid-area: ward;
    height: 220px;
    width: 330px;
    font-size: 25px;
    font-weight: 500;
  }

  .procedure{
    grid-area: procedure;
    height: 220px;
    width: 330px;
    font-size: 25px;
    font-weight: 500;
  }
  .cosmetology{
    grid-area: cosmetology;
    height: 220px;
    width: 330px;
    font-size: 25px;
    font-weight: 500;
}
  .diagnostics{
    grid-area: diagnostics;
    height: 220px;
    width: 330px;
    font-size: 25px;
    font-weight: 500;
  }
  .ophthalmology{
    grid-area: ophthalmology;
    height: 220px;
    width: 330px;
    font-size: 25px;
    font-weight: 500;
  }
  .surgery{
    grid-area: surgery;
    height: 220px;
    width: 330px;
    font-size: 25px;
    font-weight: 500;
  }

  .phisiotherapy{
    grid-area: phisiotherapy;
    height: 220px;
    width: 330px;
    font-size: 25px;
    font-weight: 500;
  }

  .chem{
    grid-area: chem;
    height: 220px;
    width: 330px;
    font-size: 25px;
    font-weight: 500;
  }

  .otolaryngology{
    grid-area: otolaryngology;
    height: 220px;
    width: 330px;
    font-size: 25px;
    font-weight: 500;
  }

  .pics_service{
    width: 100%;
    display: grid;
    grid-template-areas: "survey"
    "ward"
    "procedure"
    "cosmetology"
    "diagnostics"
    "ophthalmology"
    "surgery"
    "phisiotherapy"
    "chem"
    "otolaryngology";
    justify-content: center;
    grid-gap: 1em;
  }

}

@media (max-width: 620px) {

  .price_text{
    font-size: 95%;
  }

  .survey{
    grid-area: survey;
    height: 200px;
    width: 310px;
    font-size: 25px;
  }

  .ward{
    grid-area: ward;
    height: 200px;
    width: 310px;
    font-size: 25px;
    font-weight: 500;
  }

  .procedure{
    grid-area: procedure;
    height: 200px;
    width: 310px;
    font-size: 25px;
    font-weight: 500;
  }
  .cosmetology{
    grid-area: cosmetology;
    height: 200px;
    width: 310px;
    font-size: 25px;
    font-weight: 500;
}
  .diagnostics{
    grid-area: diagnostics;
    height: 200px;
    width: 310px;
    font-size: 25px;
    font-weight: 500;
  }
  .ophthalmology{
    grid-area: ophthalmology;
    height: 200px;
    width: 310px;
    font-size: 25px;
    font-weight: 500;
  }
  .surgery{
    grid-area: surgery;
    height: 200px;
    width: 310px;
    font-size: 25px;
    font-weight: 500;
  }

  .phisiotherapy{
    grid-area: phisiotherapy;
    height: 200px;
    width: 310px;
    font-size: 25px;
    font-weight: 500;
  }

  .chem{
    grid-area: chem;
    height: 200px;
    width: 310px;
    font-size: 25px;
    font-weight: 500;
  }

  .otolaryngology{
    grid-area: otolaryngology;
    height: 200px;
    width: 310px;
    font-size: 20px;
    font-weight: 500;
  }

  .img_price{
    height: 200px;
    width: 310px;
  }

}

@media (max-width: 450px) {

  .survey{
    grid-area: survey;
    height: 160px;
    width: 240px;
    font-size: 25px;
  }

  .ward{
    grid-area: ward;
    height: 160px;
    width: 240px;
    font-size: 25px;
    font-weight: 500;
  }

  .procedure{
    grid-area: procedure;
    height: 160px;
    width: 240px;
    font-size: 25px;
    font-weight: 500;
  }
  .cosmetology{
    grid-area: cosmetology;
    height: 160px;
    width: 240px;
    font-size: 25px;
    font-weight: 500;
}
  .diagnostics{
    grid-area: diagnostics;
    height: 160px;
    width: 240px;
    font-size: 20px;
    font-weight: 500;
  }
  .ophthalmology{
    grid-area: ophthalmology;
    height: 160px;
    width: 240px;
    font-size: 25px;
    font-weight: 500;
  }
  .surgery{
    grid-area: surgery;
    height: 160px;
    width: 240px;
    font-size: 25px;
    font-weight: 500;
  }

  .phisiotherapy{
    grid-area: phisiotherapy;
    height: 160px;
    width: 240px;
    font-size: 25px;
    font-weight: 500;
  }

  .chem{
    grid-area: chem;
    height: 160px;
    width: 240px;
    font-size: 25px;
    font-weight: 500;
  }

  .otolaryngology{
    grid-area: otolaryngology;
    height: 160px;
    width: 240px;
    font-size: 16px;
    font-weight: 500;
  }

  .img_price{
    height: 160px;
    width: 240px;
  }

}

@media (max-width: 320px) {

  .price_text{
    font-size: 90%;
  }

  .survey{
    grid-area: survey;
    height: 120px;
    width: 200px;
    font-size: 20px;
  }

  .ward{
    grid-area: ward;
    height: 120px;
    width: 200px;
    font-size: 20px;
    font-weight: 500;
  }

  .procedure{
    grid-area: procedure;
    height: 120px;
    width: 200px;
    font-size: 20px;
    font-weight: 500;
  }
  .cosmetology{
    grid-area: cosmetology;
    height: 120px;
    width: 200px;
    font-size: 20px;
    font-weight: 500;
}
  .diagnostics{
    grid-area: diagnostics;
    height: 120px;
    width: 200px;
    font-size: 18px;
    font-weight: 500;
  }
  .ophthalmology{
    grid-area: ophthalmology;
    height: 120px;
    width: 200px;
    font-size: 20px;
    font-weight: 500;
  }
  .surgery{
    grid-area: surgery;
    height: 120px;
    width: 200px;
    font-size: 20px;
    font-weight: 500;
  }

  .phisiotherapy{
    grid-area: phisiotherapy;
    height: 120px;
    width: 200px;
    font-size: 20px;
    font-weight: 500;
  }

  .chem{
    grid-area: chem;
    height: 120px;
    width: 200px;
    font-size: 20px;
    font-weight: 500;
  }

  .otolaryngology{
    grid-area: otolaryngology;
    height: 120px;
    width: 200px;
    font-size: 13px;
    font-weight: 500;
  }

  .img_price{
    height: 120px;
    width: 200px;
  }

}
